<div class="container" *ngIf="logged">
    <form>
      <h2>Search</h2>
      <input type="text" placeholder="dev number (ex: LIGW-8270084 -> 8270084)" [(ngModel)]="val" [ngModelOptions]="{standalone: true}" required>
      <input type="submit" value="Search" (click)="onSearch()">
      <div class="link">
        <p *ngIf="bcuid"><b>BCUID: {{bcuid}} | PORT: {{port}}</b></p>
        <p *ngIf="oba"><b>OBA: {{oba}} | EMA: {{ema}}</b></p>
        <p *ngIf="msan"><b>MSAN: {{msan}}</b></p>
        <p *ngIf="wait" style="color: red;">No matching records found please check your input</p>
      </div>
    </form>
  </div>
  
  <div class="container" *ngIf="!logged">
    <form>
      <h2>Login Page</h2>
      <input type="password" placeholder="Enter your password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>
      <input type="submit" value="Login" (click)="onLogin()">
      <div class="link">
        <p *ngIf="alowed" style="color: red;">Incorrect password</p>
      </div>
    </form>
  </div>